.sm-parallax {
  height: 18em;
}

h1 {
	font-family: 'Rufina', serif;
}

.absolute {
  position: absolute;
  top: 10em;
  left: 0;
  right: 0;
}

.row {
  margin-top: 3em;
  margin-bottom: 6em;
}

footer {
  margin-top: 4em;
}

.colorShifter {
	background: linear-gradient(#ffe0b2, #f8bbd0);
}

.colorShifterSingleView {
  background: linear-gradient(#ffe0b2, #f8bbd0);
  height: 100vh;
}

.shaper {
	background-color: white;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
	margin-bottom: 40px;
	margin-top: 40px;
}

label {
  color: #000;
}
.input-block {
  margin-bottom: 6em;
}
.input-group .input-block {
  margin-bottom: 0;
}
.input-group {
  margin-bottom: 6em;
}
.input-header {
  font-weight: 500;
}

.function{
  font-size: 16pt;
}

.survey-head{
  color: #CC2626
}

#submit {
  margin-bottom: 4em;
}
#submit-update {
  margin-bottom: 4em;
}
.tyreturn {
  margin-top: 2em;
  margin-bottom: 5em;
}

.disabled {
	pointer-events: none;
	cursor: none;
}

.admin-opt {
  padding: 1em;
}

table {
  height: 40em;
  overflow: scroll;
  margin-bottom: 10em;
  border-top-left-radius: 1.75em;
  border-top-right-radius: 1.75em;
  border: 1px solid #cfd8dc;
  display: block;
}
thead {
  background-color: #e58662;
  color: #fff;
}
th {
  padding: 1em 1.5em;
  border-radius: 0;
  font-weight: 400;
}
td {
  border-left: 1px solid #cfd8dc;
  border-right: 1px solid #cfd8dc;
  padding: .5em 1em;
}
