/*==========
   content
============*/
.content-container {
  top: 12%;
}
.content {
  background-color: rgba(247, 247, 247, 0.9);
  border-radius: .25rem;
  padding: .5em 2em;
}
.content h1 {
  color: #343a40;
  padding-top: .5em;
  padding-bottom: .5em;
  opacity: 1;
  letter-spacing: 5px;
  font-family: 'Bungee Inline', cursive;
  font-weight: bold;
}

p, li, h2, h3, h4 {
  color: #343a40;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: left;
  padding: 0;
  background-color: transparent;
  letter-spacing: normal;
  font-family: 'Bungee Inline', cursive;
}

a {
  color: #343a40;
  text-decoration: underline;
}
a:hover {
  color: #b6b6b6;
}



/*========
   nav
=========*/
#my-nav {
  opacity: 0.7;
  margin-top: .5em;
  margin-left: 0;
}
#my-nav:hover {
  opacity: 1;
}

.navbar-nav {
  background-color: #f7f7f7;
  padding: .5em;
}

.nav-link {
  color: #343a40;
  text-decoration: none;
}
.nav-link:hover {
  color: #b6b6b6;
  text-decoration: none;
}
.nav-link:focus {
  color: #343a40;
  text-decoration: none;
}

#brand-flag {
  font-family: 'Bungee Shade', cursive;
  background-color: #f7f7f7;
  font-size: 2em;
  border-radius: 0;
  padding: .35em .5em;
}

.selected {
  font-weight: bold;
}
