label {
  color: #000;
}

.input-block {
  margin-bottom: 2em;
}

h1 {
	font-family: 'Rufina', serif;
}

.sm-parallax {
    height: 18em;
}

.input-field label {
 color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #e57373;
}
/* label underline focus color */
.input-block input[type=text]:focus {
 border-bottom: 1px solid #e57373;
 box-shadow: 0 1px 0 0 #e57373;
}
/* valid color */
.input-block input[type=text].valid {
 border-bottom: 1px solid #e57373;
 box-shadow: 0 1px 0 0 #e57373;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #e57373;
 box-shadow: 0 1px 0 0 #e57373;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #e57373;
}

/*nav {
  background: transparent;
}*/
